body{       
font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f3f3f3;
      }
      .converter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin: 50px auto;
        max-width: 50%;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333;
      }
      input[type="file"] {
        display: block;
        margin: 20px auto;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid #ccc;
        outline: none;
      }
      button {
        padding: 12px 20px;
        border: none;
        background-color: #4caf50;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      button:hover {
        background-color: #45a049;
      }
      #downloadLink {
        font-weight: 600;
        background-color: rgb(240, 148, 36);
        padding: 10px 0;
        margin: 10px 0;
        color: #fff;
        width: 200px;
        border-radius: 10px;
      }
      #downloadLink:hover {
        background-color: rgb(223, 140, 39);
      }
      a {
        display: none;
        margin-top: 10px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
      }
      .output {
        margin-top: 20px;
        font-weight: bold;
      }
      @keyframes shake {
        0% {
          transform: translateX(0);
        }
        25% {
          transform: translateX(-5px);
        }
        50% {
          transform: translateX(5px);
        }
        75% {
          transform: translateX(-5px);
        }
        100% {
          transform: translateX(0);
        }
      }
      .shake {
        animation: shake 0.5s ease-in-out;
      }
      @media screen and (max-width: 768px) {
        .converter-container {
          max-width: 90%;
        }
      }
      @media screen and (max-width: 480px) {
        .converter-container {
          max-width: 95%;
        }
      }
